@media only screen and (max-width: 500px){
    #brand{font-size: 2.5em;}
  }
  
 
 /*spacing between nav bar and body content followed by horizontal line*/
 body{padding-top: 80px;}
 
 
/*NAV BAR STYLING*/
 /*navbar settings*/
.naviy{
    background-color: #ffffff;
	    border-color: #ffffff;}
 
/*background colour*/
.naviy{padding-top: 20px;
      padding-left: 10px;
      padding-bottom: 20px;
     background-color: #FFFFFF;
     border-color: #FFFFFF;}
 
 
/*colour on search box affects all buttons*/
.btn-default {
     color: #000;
     background-color: #fff;
     border-color: #fff;}
 
    /*colour on search form affects all*/
.form-control {color: #000;
                 background-color: #fff;
                   border: 1px solid #000;}
 
 
/*colour on li a on the top of page*/
.navbar-default .navbar-nav>li>a {font-family: 'Open Sans Condensed', sans-serif;
                                        font-weight:bold;
                                        color: #000;}
 
/*font on serch form and button*/
button, input, select, textarea {font-family:'Open Sans Condensed', sans-serif; 
                                                 font-size: inherit;
                                                 line-height: inherit;}
 
 
.btn {font-family: 'Open Sans Condensed', sans-serif;
                         font-weight: bold;}
 
 
     
 
/*/*being zen*/ /*!!!!!!!!!!!remove hover effect!!!!!!*/
.navbar-header .navbar-brand{padding-left: 10px;
                                    color: #000;
                                    font-family: 'Homemade Apple', cursive;
                                    font-size: 40px;}


/*removing bulllets on li tag*/
ul, menu, dir {list-style-type: none;}

/*get updates*/

#pen{text-align:center;}

/*colour change part*/

#biro{text-align: left;
    background: #000;
    }

#biro>ul>li>a{
color: #fff;
}
/*footer centre*/
footer{text-align: center;
     }
footer>p{color: #fff;}


 